@media screen and (min-width: 768px) {
  .profile-info{
    font-size: 23px;
  }
    
}
@media screen and (max-width: 728px) {
  .info{
    padding-top: 4%;
  }
    
}
@media screen and (max-width: 375px) {
  .profile-image img{
    width: 50px !important;
    height: 50px   !important;
  }
    
}
@media screen and (max-width: 590px) {
  .contact-section{
    display: block;
  }
  .bio-section{
    width: 100%;
  }
  .follow-section{
    width: 100%;
  }
    
}